* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 15% 0 15%;
}

body table {
    width: 100%;
}

table {
    margin: 5vh 5% 0 0;
    border-collapse: collapse;
    background-color: rgba(241, 187, 187, 0.377);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table .list {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 2vh 2%;
}

thead {
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #fff1f1;
}

.list tr:nth-child(even) {
    background-color: #808086;
}

input[type=text],
input[type=number] {
    width: 50%;
    padding: 2vh 2%;
    margin: 2vh 0;
    display: inline-block;
    border: 1px solid #dcd;
    border-radius: 2%;
    box-sizing: border-box;
}

/* input[type=submit] {
    width: 30%;
    background-color: aliceblue;
    color: #000;
    padding: 2vh 5%;
    margin: 2vh 0;
    border: none;
    border-radius: 3%;
    cursor: pointer;
} */

form div .form__action__buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 2%;
}

label .validation__error {
    color: red;
    margin-left: 2%;
}

.hide {
    display: none;
}

.action__button {
    margin-left: 35%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 7vh;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 0 4%;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
}


.action__button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.action__button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.action__button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.fcc-btn {
    background-color: #199319;
    color: white;
    padding: 1vh 2%;
    text-decoration: none;
    border-radius: 15%;
}

.fcc-btn:hover {
    background-color: #223094;
}